<div class="footer-img">
    <a href="./"
      ><img
        id="footer-image"
        src="./assets/Group 10 (1).png"
        alt="brand-logo"
    /></a>
  </div>

  <div class="footer-grid">
    <div class="contact-Details">
      <p class="footer-headers">Address</p>
      3 Birrel Avenue, Sabo.<br />
      Yaba, Lagos State,<br />
      Nigeria
    </div>

    <div class="contact-Details">
      <p class="footer-headers">Email</p>
      <p>hello@hng.tech</p>
      <p>+234 (0) 812 345 6789</p>
    </div>

    <div class="contact-Details contact-Details3">
      <div>
        <p class="footer-head">Connect With Us</p>
        <p class="link1">
          <img class="link-img" src="./assets/Vector.png" />hnginternship
        </p>
        <p class="link1">
          <img
            class="link-img"
            src="./assets/Vector (1).png"
          />hnginternship
        </p>
        <p class="link1">
          <img
            class="link-img"
            src="./assets/Vector (2).png"
          />hnginternship
        </p>
      </div>
      <div class="contact-btn">
        <a href="./contact"
          ><button id="contact">Contact Us</button></a
        >
      </div>
    </div>
  </div>

  <div class="footer-line"><img src="./assets/Line 1.png" /></div>

  <div class="footer-tabs">
    <p>&copy; 2021 HNG internship . All Rights Reserved. HNG Group</p>
  </div>