<div class="Img-class">
    <a href="./">
      <img id="header-img" src="./assets/Group 9 (1).png" alt="brand-logo"
    /></a>
  </div>

  <div class="header-links">
    <a href="./about">About</a>
    <a href="./Interns">Interns</a>
    <a href="./support">Support</a>
    <a class="active" href="./join">Join us</a>
  </div>

  <div class="wealth">
    <span id="icons">
      <i class="fa fa-1.5x fa-bars"></i>
    </span>
  </div>