<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>About</title>
    <link rel="stylesheet" href="./css/About.css" />
  </head>
  <body>
    <header>
      <%- include('./partials/header') %>
    </header>

    <main>
      <img id="main-img" src="./assets/About.png" alt="About-page" />
    </main>

    <article>
      <div class="article-content">
        <h1>We find the most talented African developers</h1>
        <small
          >The internship is a 3-month remote internship designed to find and
          develop the most talented software developers. At HNG internship,
          everyone is welcome to participate (there is no entrance exam). Anyone
          can sign up using their laptops. Each week, we give tasks. Those who
          complete them advance forward. We pay the interns weekly. The intern
          coders are introduced to complex programming frameworks, and get to
          work on real world software. The finalists are connected to the best
          companies in the tech ecosystem and get full time jobs and contracts
          immediately.
        </small>

        <h6>See what we offer in the training</h6>
      </div>

      <div class="article-img">
        <img
          id="article-image"
          src="./assets/Telework-rafiki 1.png"
          alt="article-img"
        />
      </div>
    </article>

    <div class="cards">
      <div>
        <img src="./assets/Frame 1.png" alt="Img-cards" />
      </div>

      <div>
        <img src="./assets/Frame 2.png" alt="Img-cards" />
      </div>

      <div>
        <img src="./assets/Frame 4.png" alt="Img-cards" />
      </div>
      <div>
        <img src="./assets/Frame 5.png" alt="Img-cards" />
      </div>
    </div>

    <div class="partners">
      <h2>Our Hiring Partners</h2>

      <small
        >At HNG internship, we believe the decision you make to invest in your
        future is worth it! One of the ways <br />
        we ensure this is that our finalists are connected to the best tech
        companies for full-time jobs and contracts.</small
      >

      <div class="partners-gallery">
        <div><img src="./assets/Rectangle 18.png" alt="Partner-logo" /></div>

        <div><img src="./assets/Rectangle 19.png" alt="Partner-logo" /></div>

        <div><img src="./assets/Rectangle 20.png" alt="Partner-logo" /></div>

        <div><img src="./assets/Rectangle 21.png" alt="Partner-logo" /></div>

        <div><img src="./assets/Rectangle 22.png" alt="Partner-logo" /></div>

        <div><img src="./assets/Rectangle 23.png" alt="Partner-logo" /></div>

        <div><img src="./assets/Rectangle 24.png" alt="Partner-logo" /></div>

        <div><img src="./assets/Rectangle 25.png" alt="Partner-logo" /></div>

        <div><img src="./assets/Rectangle 26.png" alt="Partner-logo" /></div>
      </div>
    </div>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
    <div class="overlay"></div>
    <script src="./project.js"></script>
  </body>
</html>