<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>HNG FORM</title>
    <link rel="stylesheet" href="./css/form.css" />
</head>
<body>
    
    <main>
        <form>
            <h3>Become an Intern</h3>
    
            <div class="input-group">
              <small>Name</small>
    
              <input type="text" name="name" autofocus />
            </div>
    
            <div class="input-group">
              <small>Email</small>
    
              <input type="email" name="email" />
            </div>
    
            <div class="input-group">
              <small>Why will you like to join HNG?</small>
              <textarea></textarea>
            </div>
    
            <div class="input-btn">
              <button id="btn">Join HNG</button>
            </div>
          </form>
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
    <div class="overlay"></div>
    <script src="./Js/project.js"></script>
</body>
</html>