<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head')%>
  </head>
  <body>
    <header>
      
      <%- include('./partials/header')%>
      
      <link rel="stylesheet" href="./css/project.css" />
    </header>

    <main>
      <div class="main-text">
        <h5>The HNG Internship</h5>

        <h1>Perfection Is Always Under Construction</h1>

        <small
          >The HNG Internship is an ambitious attempt to change the way
          education is done in Africa. It’s the bridge between learning to code,
          and becoming the best in the world.</small
        >

        <div>
          <a href="./join"><button id="main-btn">Join us</button></a>
        </div>
      </div>

      <div class="main-image">
        <img id="main-img" src="./assets/Group 1.png" alt="stacks-image" />
      </div>
    </main>
    <footer>
      <%- include('./partials/footer'); %>
    </footer>
    <!-- <div class="overlay"></div> -->
    <script src="./project.js"></script>
  </body>
</html>