<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Join</title>
    <link rel="stylesheet" href="./CSS/join.css" />
  </head>

  <body>
    <header>
      <%- include('./partials/header') %>
    </header>

    <main>
      <div class="main-text">
        <h5>Become an Intern</h5>

        <h1>Refine your tech skills and prepare for the real world</h1>

        <small
          >Boost your career with us. Our next cohort begins in August 2021.
          Click below to register</small
        >

        <div>
          <a href="./form"
            ><button id="main-btn">Join HNG</button></a
          >
        </div>
      </div>

      <div class="main-image">
        <img id="main-img" src="./assets/Frame 13.png" alt="stacks-image" />
      </div>
    </main>

    <article>
      <h1>Training Tracks</h1>
      <div class="article-btn">
        <button id="design">UI/UX Design</button
        ><button id="frontend">Frontend Dev</button>
        <button id="backend">Backend Dev</button>
        <button id="machine">Machine Learning</button>
      </div>
      <div class="article-link">
        <a id="article-link" href="#">Get started now</a>
      </div>
    </article>

    <footer>
      <%- include('./partials/footer') %>
    </footer>
    <div class="overlay"></div>
    <script src="./project.js"></script>
  </body>
</html>