<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('./partials/head') %>
  </head>

  <body>
    <header>
      <%- include('./partials/header') %>
      <link rel="stylesheet" href="./CSS/support.css" />  
    </header>

    <main>
      <div class="main-grid">
        <div class="main-content">
          <h3>
            Answer the call for HNG this <br />
            year to assist a
            <span id="main-colored-text">
              student in <br />
              need.</span
            >
          </h3>
          <p>
            Through sponsorship, you help a student by connecting them to
            resources that will assist them in the training where the will
            receive laptops, money to pay the interns or to take one of our
            interns to your organisation. Outside of that, you can co-finance an
            internship. we will use your product as part of the internship then
            (its good to have you product in front of 4000 learning developers),
            and probably be the first tool they ever use.
          </p>
        </div>

        <div class="card1">
          <img id="first-card" src="./assets/Rectangle 28.png" alt="cards" />
        </div>

        <div class="card2">
          <img id="second-card" src="./assets/Rectangle 30.png" alt="cards" />
        </div>

        <div class="card3">
          <img id="third-card" src="./assets/Rectangle 29.png" alt="cards" />
        </div>
      </div>
    </main>
  </div>
    <article>
      <div class="article-wrapper">
        <h3>
          Give a student<br />
          hope today.
        </h3>
        <img src="./assets/Frame 16.png" alt="support" />
      </div>
    </article>

    <div class="article">
      <div class="article-content">
        <h3>
          Support a student today by <br />sponsoring them per monthly basis.
        </h3>

        <a href="#">Support the internship</a>
      </div>
    </div>

    <footer>
      <%- include('./partials/footer') %>
    </footer>
    <div class="overlay"></div>
    <script src="./project.js"></script>
  </body>
</html>